@using MvcCV.Models.Entity
@model List<tbl_Education>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<br />
<h2>Education List</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Subtitle1</th>
        <th>Subtitle2</th>
        <th>GPA</th>
        <th>Date</th>
        <th>Delete</th>
        <th>Edit</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Title</td>
            <td>@item.Subtitle1</td>
            <td>@item.Subtitle2</td>
            <td>@item.GPA</td>
            <td>@item.Date</td>
            <td><a href="/Education/EduDelete/@item.ID" class="btn btn-danger btn-sm"><i class="fas fa-trash"> Delete</i> </a></td>
            <td><a href="/Education/EduEdit/@item.ID" class="btn btn-info btn-sm"><i class="fas fa-pencil-alt"> Edit</i> </a></td>

        </tr>
    }
</table>
<a href="/Education/EduAdd/" class="btn btn-primary">Add New Education</a>


